@use "../../assets/v.scss";

.all-sub-cat-page-wrapper {
  flex: 5;
  background-color: v.$white;
  border-radius: 15px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;

  button {
    background-color: v.$orangered;
    font-family: v.$title_font2;
    padding: 6px 10px;
    border-radius: 3.5px;
    border: none;
    color: v.$white;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: v.$darken;
    }
  }
}

.all-sub-cat-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
