.list-food-in-sub-cat {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff8e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  height: 25vh;
  overflow-y: auto;
  z-index: 1;
}

.list-food-in-sub-cat-main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-food-in-sub-cat-main li {
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #c0c0c0;
}
.list-food-in-sub-cat-main li h5 {
  margin: 0;
  width: 70%;
}