@use "../../assets/v.scss";

.order-template-wrapper {
  flex: 3;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba($color: #00000028, $alpha: 0.35);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: v.$white;
}

.deliveryman-Img,
.food-img,
.vendor-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 5px solid v.$darken;
  border-radius: 5px;
}
