@use "../../../../assets/v.scss";

.my-feeds-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.my-feeds-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 50%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid v.$att_green;
    border-radius: 7px;
    background-color: transparent;
    font-family: v.$title_font2;

    &:focus {
      outline: none;
    }
  }

  .my-feeds-view-switchers {
    display: flex;
    align-items: center;
    gap: 10px;

    .view-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3.5px;
      background-color: v.$att_green;
      font-size: 24px;
      border: none;
      border-radius: 3.5px;
      color: v.$grey;
      transition: all ease-in-out 0.25s;
      cursor: pointer;

      &:hover {
        background-color: v.$darken;
        color: v.$orangered;
      }
    }
  }
}

.my-feeds-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
