@use "../../assets/v.scss";

.food-card-wrapper {
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  display: flex;
  flex-direction: column;
  font-family: v.$title_font2;
  padding: 15px;
  gap: 15px;
  color: v.$darken;
  position: relative;

  &:hover .leave-feedback {
    opacity: 1;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}

.leave-feedback {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 90%;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  background-color: v.$sky;
  color: v.$white;
  right: -7.5%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.food-feedback-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  padding: 5px;
  position: absolute;
  bottom: 100.5%;
  left: 0;
  z-index: 1;
  background-color: #fff;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$sky;
    border: none;
    color: v.$darken;
    font-size: 14px;
    padding: 2.5px;
    border-radius: 2.5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: v.$att_green;
      color: #fff;
    }
  }

  button:nth-of-type(2):hover {
    background-color: v.$orangered;
    color: #fff;
  }
  button:nth-of-type(3):hover {
    background-color: rgb(255, 179, 47);
    color: #fff;
  }
}

.food-image-wrapper {
  height: 25vh;
}

.food-content-wrapper {
  margin-top: 25px;

  p {
    margin-top: 15px;
    font-size: 14px;
  }
}

.food-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-prep-duration {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shopping-option {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price-header {
  border-bottom: 2px v.$att_green solid;
}

.food-action-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 15px;
  right: -35px;
}

.add-to-wishlist {
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

.add-to-cart-wrapper {
  position: relative;
  span {
    font-size: 12px;
  }
  .add-to-cart {
    background-color: v.$sky;
    padding: 12.5px 8px;
    color: v.$att_green;
    border-radius: 15px 15px 15px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px rgba($color: #00000026, $alpha: 0.35);
    &:hover {
      background-color: v.$orangered;
      color: v.$darken;
    }
    transition: all 0.25s ease-in-out;

    &:active {
      transform: scale(0.9);
    }
  }
}

.add-to-cart-icon {
  position: absolute;
  bottom: 70%;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  right: 5%;
  width: 20px;
  height: 20px;
  background-color: v.$white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
}
