.food-card-wrapper {
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  padding: 15px;
  gap: 15px;
  color: #333333;
}

.food-image-wrapper {
  height: 25vh;
}

.food-content-wrapper {
  margin-top: 25px;
}
.food-content-wrapper p {
  margin-top: 15px;
  font-size: 14px;
}

.food-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-prep-duration {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shopping-option {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price-header {
  border-bottom: 2px hsl(16, 100%, 50%) solid;
}

.food-action-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 15px;
  right: -35px;
}

.add-to-wishlist {
  cursor: pointer;
}
.add-to-wishlist:active {
  transform: scale(0.9);
}

.add-to-cart-wrapper {
  position: relative;
}
.add-to-cart-wrapper span {
  font-size: 12px;
}
.add-to-cart-wrapper .add-to-cart {
  background-color: #333333;
  padding: 12.5px 8px;
  color: #c0c0c0;
  border-radius: 15px 15px 15px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease-in-out;
}
.add-to-cart-wrapper .add-to-cart:hover {
  background-color: hsl(16, 100%, 50%);
  color: #333333;
}
.add-to-cart-wrapper .add-to-cart:active {
  transform: scale(0.9);
}

.add-to-cart-icon {
  position: absolute;
  bottom: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  right: 5%;
  width: 20px;
  height: 20px;
  background-color: #fff8e1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}