@use "../../assets/v.scss";

.food-card-wrapper {
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  display: flex;
  flex-direction: column;
  font-family: v.$title_font2;
  padding: 15px;
  gap: 15px;
  color: v.$darken;
}

.food-image-wrapper {
  height: 25vh;
}

.food-content-wrapper {
  margin-top: 25px;

  p {
    margin-top: 15px;
    font-size: 14px;
  }
}

.food-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-prep-duration {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shopping-option {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price-header {
  border-bottom: 2px v.$orangered solid;
}

.food-action-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 15px;
  right: -35px;
}

.add-to-wishlist {
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

.add-to-cart-wrapper {
  position: relative;
  span {
    font-size: 12px;
  }
  .add-to-cart {
    background-color: v.$darken;
    padding: 12.5px 8px;
    color: v.$grey;
    border-radius: 15px 15px 15px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px rgba($color: #00000026, $alpha: 0.35);
    &:hover {
      background-color: v.$orangered;
      color: v.$darken;
    }
    transition: all 0.25s ease-in-out;

    &:active {
      transform: scale(0.9);
    }
  }
}

.add-to-cart-icon {
  position: absolute;
  bottom: 70%;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  right: 5%;
  width: 20px;
  height: 20px;
  background-color: v.$white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
