.user-balance-wrapper {
  padding: 15px 0;
}

.balance-wrapper {
  margin-top: 15px;
  background-color: hsl(16, 100%, 50%);
  padding: 35px 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-of-balance {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.underline-to-your-info {
  border-bottom: hsl(16, 100%, 50%) 2px solid;
}

.cash-in-the-cart {
  font-size: 32px;
}

.deposit-withdraw {
  display: flex;
  align-items: center;
  gap: 15px;
}

.deposit-withdraw-btn {
  background-color: #008080;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Oswald", sans-serif;
  transition: all 0.25s ease-in-out;
}
.deposit-withdraw-btn:hover {
  background-color: #87ceeb;
}
.deposit-withdraw-btn:hover .deposit-withdraw-btn-icon {
  background-color: hsl(16, 100%, 50%);
}

.deposit-withdraw-btn-icon {
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background-color: #fff8e1;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}

.user-address-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-address-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-address {
  display: flex;
  align-items: center;
  gap: 5px;
}