@use "../../../../../../../../assets/v.scss";

.per-food-in-cart {
  width: 100%;
  height: 15vh;
  background-color: v.$att_green;
  display: flex;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
  position: relative;
  padding: 15px;
  color: v.$white;
  box-shadow: 0 0 10px rgba($color: #0000000f, $alpha: 0.3);
}

.food-details-in-cart {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h4 {
    text-align: start;
    width: 70%;
  }
}

.food-amount-controller {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controller-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$sky;
  color: v.$darken;
  border: none;
  padding: 3.5px;
  border-radius: 2.5px;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

.remove-food-from-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  position: absolute;
  right: 5%;
}

.trash-icon {
  transition: all 0.25s ease-in-out;
  &:hover {
    cursor: pointer;
    color: v.$orangered;
  }

  &:active {
    transform: scale(0.9);
  }
}
