@use "../../../../assets/v.scss";

.deliveryman-earning-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .deliveryman-earning-echart {
    background-color: v.$darken;
    border-radius: 15px;
  }
}
