.nav-order-item {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid hsl(16, 100%, 50%);
  border-radius: 8px;
  cursor: pointer;
}
.nav-order-item:hover .order-item-btn {
  background-color: #333333;
  color: hsl(16, 100%, 50%);
}

.order-item-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-item-total {
  font-size: 24px;
  font-weight: 900;
  color: hsl(16, 100%, 50%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.order-item-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #c0c0c0;
  font-size: 24px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}