.existing-member-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  gap: 15px;
  position: relative;
}
.existing-member-wrapper .remove-team-member {
  position: absolute;
  bottom: 97%;
  padding: 5px 12px;
  border: none;
  background-color: hsl(16, 100%, 50%);
  color: #fff;
  transition: all 0.25s ease-in-out;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
}
.existing-member-wrapper .remove-team-member:active {
  transform: scale(0.9);
}
.existing-member-wrapper .existing-member {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.existing-member-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.existing-member-item-wrapper .existing-member-item {
  font-weight: 900;
  border-bottom: 2px solid #008080;
  width: -moz-fit-content;
  width: fit-content;
}