@use "../../../../../../../../assets/v.scss";

.perfood-in-wishlist {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  background-color: v.$sky;
  color: v.$darken;
  border-radius: 7px;
  position: relative;
  height: 15vh;
  box-shadow: 0 0 10px rgba($color: #0000000f, $alpha: 0.25);
}

.food-details-in-wishlist {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    font-size: 14px;
  }
}

.remove-food-from-wishlist {
  position: absolute;
  right: 2.5px;
  top: 2.5px;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: v.$orangered;
    cursor: pointer;
  }
}
