@use "../../../../../../assets/v.scss";

.feeds-grid-view-wrapper {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 15px;
  height: 65vh;
  overflow-y: auto;
}

.feeds-grid-view {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
