.deliveryman-activity-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}
.deliveryman-activity-wrapper .deliveryman-activities {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  height: 70vh;
}