@use "../../../../../../../../assets/v.scss";

.sub-cat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 15px;
}

.sub-cat-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
