.popular-food-header-wrapper {
  display: flex;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.popular-food-header-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: hsl(16, 100%, 50%) 2px solid;
  cursor: pointer;
}
.popular-food-header-btn:active {
  transform: scale(0.9);
}