@use "../../../../../../../../../assets/v.scss";

.popular-food-header-wrapper {
  display: flex;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.popular-food-header-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  font-family: v.$p_font2;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: v.$orangered 2px solid;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}
