@use "../../../../assets/v.scss";

.current-order-information {
  padding: 15px 0;
  overflow-y: auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-table {
  border-collapse: collapse;
  width: 100%;
}

.order-table .order-thead .order-tr {
  background-color: v.$darken;
  font-size: 18px;
  font-weight: 600;
  color: v.$grey;
  height: 5.7vh;
  text-align: left;
}

.order-table .order-th,
.order-table .order-td {
  padding: 12px 15px;
}

.order-table .order-tbody .order-tr {
  border-bottom: 2px v.$grey solid;
}
