.total-profit-wrapper {
  width: 97.5%;
  background-color: hsl(16, 100%, 50%);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.total-profile-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff8e1;
  border-bottom: 2px solid #fff8e1;
  padding: 5px;
}
.total-profile-header-wrapper .total-profile-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.total-profile-header-wrapper .total-profile-header svg {
  width: 32px;
  height: 32px;
}
.total-profile-header-wrapper span {
  font-size: 24px;
}

.total-profile-body {
  height: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.total-profile-body span {
  border-bottom: 2px solid #fff8e1;
  font-size: 45px;
  color: #fff8e1;
}