@use "../../../../../../../../assets/v.scss";

.popular-food-wrappe {
  display: flex;
  margin-top: 35px;
  flex-direction: column;
  gap: 35px;
  padding: 15px;
}

.popular-foods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
