@use "../../assets/v.scss";

.deliveryman-dashboard-wrapper {
  backdrop-filter: blur(25px);
  height: calc(100vh - 60px);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba($color: #00000026, $alpha: 0.2);
  gap: 10px;
  font-family: v.$title_font2;
  padding: 30px;
  display: flex;
  gap: 75px;
  color: v.$darken;
  position: relative;
}

.deliveryman-dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 55px;
  flex: 1.7;
}

.deliveryman-dashboard-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  .fetch-amount-btns-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      border: none;
      background-color: v.$darken;
      font-family: v.$title_font2;
      padding: 5px 10px;
      color: v.$white;
      border-radius: 2.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
