.admin-order-template-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  gap: 15px;
  border: 1px solid #ffb6c1;
}

.admin-order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-order-details {
  display: flex;
  gap: 15px;
  border-bottom: #c0c0c0 1px solid;
}

.admin-order-more-btn {
  border: none;
  background-color: hsl(16, 100%, 50%);
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.admin-order-more-btn:hover {
  background-color: #008080;
}

.admin-order-vendor-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}