@use "../../../../../assets/v.scss";

.admin-order-template-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  gap: 15px;
  border: 1px solid v.$pink;
}

.admin-order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-order-details {
  display: flex;
  gap: 15px;
  border-bottom: v.$grey 1px solid;
}

.admin-order-more-btn {
  border: none;
  background-color: v.$orangered;
  padding: 10px;
  font-family: v.$title_font2;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: v.$att_green;
  }
}

.admin-order-vendor-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
