.vendor-team-member-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 70vh;
  overflow-y: auto;
  padding: 5px;
}

.add-new-team-member-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}