// colors
$white: #fff8e1;
$orangered: hsl(16, 100%, 50%);
$darken: #333333;
$sky: #87ceeb;
$light_green: #6b8e23;
$grey: #c0c0c0;
$blue: #003366;
$pink: #ffb6c1;
$att_green: #008080;
$main_green: #228b22;

// fonts
$title_font: "Abril Fatface", serif;
$title_font2: "Josefin Sans", sans-serif;
$p_font: "Dosis", sans-serif;
$p_font2: "Oswald", sans-serif;
