.add-food-categories {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.add-food-categories-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  background-color: #333333;
  transition: all 0.25s ease-in-out;
  padding: 5px;
  border-radius: 15px;
  color: #fff8e1;
  cursor: pointer;
}
.add-food-categories-items p {
  font-size: 14px;
}
.add-food-categories-items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
}
.add-food-categories-items:hover {
  background-color: hsl(16, 100%, 50%);
  color: #333333;
}

.add-custom-main-category {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: hsl(16, 100%, 50%);
  color: #fff8e1;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  margin-right: 5px;
}
.add-custom-main-category:hover {
  background-color: #333333;
}