@use "../../../../../assets/v.scss";

.add-food-categories-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.add-food-categories {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.add-food-categories-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  background-color: v.$darken;
  transition: all 0.25s ease-in-out;
  padding: 5px;
  position: relative;

  .complete-category-desc {
    position: absolute;
    top: 105%;
    background-color: v.$grey;
    color: v.$darken;
    font-size: 14px;
    padding: 5px;
    z-index: 1;
    border-radius: 3.5px;
    box-shadow: 0 0 10px rgba($color: #0000000d, $alpha: 0.15);
  }

  p {
    font-size: 14px;
  }

  border-radius: 15px;
  color: v.$white;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 80px;
  }

  &:hover {
    background-color: v.$orangered;
    color: v.$darken;
  }
}

.add-custom-main-category {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: v.$orangered;
  color: v.$white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  margin-right: 5px;

  &:hover {
    background-color: v.$darken;
  }
}
