.liner-view-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.liner-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #87ceeb;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.liner-view:hover .show-author {
  opacity: 1;
}
.liner-view:hover .show-target {
  opacity: 1;
}
.liner-view:hover .remove-liner-feed {
  opacity: 1;
}
.liner-view .show-author {
  opacity: 0;
  position: absolute;
  top: 80%;
  border-radius: 5.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff8e1;
  transition: all 0.5s ease-in-out;
  padding: 5px;
}
.liner-view .show-target {
  opacity: 0;
  position: absolute;
  top: 80%;
  right: 5%;
  border-radius: 5.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff8e1;
  transition: all 0.5s ease-in-out;
  padding: 5px;
}
.liner-view .remove-liner-feed {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 98%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5.5px;
  border: none;
  background-color: #008080;
  color: #fff8e1;
  transition: all 0.35s ease-in-out;
  opacity: 0;
}
.liner-view .remove-liner-feed:hover {
  background-color: hsl(16, 100%, 50%);
  cursor: pointer;
}