@use "../../../../../assets/v.scss";

.activities-wrapper {
  height: 10vh;
  width: 100%;
  background-color: v.$white;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 10px rgba($color: #00000013, $alpha: 0.15);

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
